[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
forg = {file = ".", editable = true}
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
pytest = "*"

[requires]
python_version = "3.14"
